#body {
  margin: 0px;
  background-color: #23292F;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  cursor: default;
}

h2 { 
  font-family: "Roboto Condensed", sans-serif;
  color: #94b0da;
  cursor: default;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #94b0da;
  font-size: 30px;
  cursor: default;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  cursor: default;
}

a {
  transition: all 0.3s ease-in-out;
  color: #fff;
}

ul {
 font-family: "Montserrat", sans-serif;
 color: #fff;
 cursor: default;

}

.menu {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;

  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;

  position: sticky;
  top: 0;
  height: 100px;
  margin: 0px;

  background-image: linear-gradient(rgba(35, 41, 47, 0.507), rgba(35, 41, 47, 0.4));
}

h1 {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  width: 25%;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}

h1:hover {
  text-shadow: 0em 0em 0.25em #fff;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  color: #dcedff;
  list-style: none;
  width: 75%;
  margin: 0px;
}

.menu-link > a {
  text-decoration: none;
}

.menu-link {
  display: flex;
  justify-content: space-evenly;

  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

.menu-link > a:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(1.1);
  text-shadow: 0em 0em 0.25em #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header {
  grid-column: 1 / 5;
  grid-row: 2 / 3;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100vh;
  margin: 0px;

  z-index: -150;
}

.first-headertext {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start ;

  margin-top: 100px;
  margin-left: 80px;
  width: 50%;
}

.first-headertext > h2 {
  display: flex;
  align-items: flex-start;
}

.second-headertext {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  margin-top: 220px;
  width: 50%;
  margin-left: 250px;
}

.decor:hover {
  transform: scale(1.1);
  text-shadow: 0em 0em 0.25em #fff;
}

header > div > h3 {
  font-size: 60px;
  color: #fff;
  margin: 0px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  margin: 0px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  margin: 0px;
  padding-left: 60px;
  background-color: #23292F;
}

.sidebar > div > ul{
  padding: 50px;
  list-style: none;
  font-size: 20px;
}

.icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 5;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
  padding: 20px;
  -webkit-filter: invert(100%);
}

.icons > div {
  display: flex;
  flex-direction: column;
  width: 50px;
  padding: 10px 0;
}

.icons > div:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.icons > div > a > img {
  height: 40px;
  width: 40px;
}

#maincontent {
  grid-column: 2 / 4;
  grid-row: 1 / 3;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  margin: 0px;
  gap: 0;
  background-color: #23292F;
}

.largetext {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}

.largetext:hover {
  text-shadow: 0em 0em 0.25em #fff;
  cursor: default;
}

.smalltext {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.education > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
  padding: 40px;
  border-left: 4px solid #2C333A;
}

.education > div > div > ul{
  list-style: square;
}

.work {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  width: 100vh;
  margin: 20px;
  background-color: #23292F;
  
}

.work, > div > div > ul {
  padding: 0px;
  margin: 0px;
  list-style:square inside;
  
}

.work > div > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin: 20px;
  padding: 40px;
  border-left: 4px solid #2C333A;
}

footer {
  grid-column: 1 / 5;
  grid-row: 4 / 5;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-family: "Montserrat", sans-serif;
  color: #dcedff;
  height: 300px;
  margin: 0px;
  background-color: #23292F;
}

@media all and (max-width: 767px) {
  
  .menu {
    align-items: center;
    justify-content: space-around;

    display: flex;
    flex-direction: row;
    margin: 0px;
    position: sticky;
    top: 0;
    height: 100px;
    padding: 0px;
    background-image: linear-gradient(rgba(35, 41, 47, 0.507), rgba(35, 41, 47, 0.4));
}

  .menu > h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .hamburger {
    display: block;
  }

  .hamburger:active > .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger:active > .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger:active > .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-bar {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #6f7185;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .menu-link {
  margin: 16px 0;
  }

  .menu-bar:active {
    left: 0;
}

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
  }

  .first-headertext {
    display: flex;
    flex-direction: column;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10px;
  text-align: center;
  }

  .second-headertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    font-size: 10px;
    text-align: center;
  }

  .second-headertext > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
  }

  header > div > h2 {
    display: flex;
    font-size: 20px;
    color: #6f7185;
  }

  header {
    grid-column: 1 / 5;
    grid-row: 2 / 3;

    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
  }

  .header > .icons {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.4fr;
    height: 100vh;
    padding-top: 100px;
  }

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: #23292F;
    margin: 0px;
    padding: 0px;
    width: 100%;

  }

  .sidebar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }

  .sidebar > div > ul {
    margin: 0px;
  }

  #maincontent {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .work > div > h3 {
    padding-left: 20px;
  }

  .work, .education {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .education > div > div {
    border-left: none;
  }

  .largetext {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    font-size: 19px;
  }

  .smalltext {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }

  .work, .education > div > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }

  .work, .education > div > div > ul > li {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    padding: 0px;
    width: 100%;
    font-size: 15px;
  }

  .other {
    display: flex;
    flex-direction: row;

  }

  .other > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: row;
  }

  .other > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .other > div > div > ul {
    list-style: none;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}