/*potentiell bakgrundsbild:https://images.unsplash.com/photo-1664573747733-bf5276478098?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80*/

/* {
  border: dotted black 1px;
}*/

body {
  margin: 0px;
  background-color: #ffc65c;
  background-image: url(https://images.unsplash.com/photo-1664309091749-440ce9dd1edf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #94b0da;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #94b0da;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

a {
  transition: all 0.3s ease-in-out;
  color: #fff;
}

a:hover {
  text-decoration: none;
  /*color: #94b0da;*/
  color: #ffcd70;
  transform: scale(1.1);
}

ul {
  font-family: "Montserrat", sans-serif;
  color: #dcedff;
}

.menu {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;

  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
  width: 100%;

  position: sticky;
  top: 0;
  height: 100px;
  margin: 0px;
  padding: 10px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.4));
}

@media all and (max-width: 800px) {
  .menu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    flex-wrap: wrap;
    flex-direction: column;
  }
}

.menu > h1 {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  width: 25%;
  margin: 0px;
}

@media all and (max-width: 800px) {
  .menu > h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media all and (max-width: 800px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    width: auto;
  }
}

.menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  list-style: none;
  width: 75%;
  margin: 0px;
}

@media all and (max-width: 800px) {
  .menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: auto;
    list-style: none;
    margin: 0px;
  }
}

.menu > ul > li > a {
  text-decoration: none;
}

.menu > ul > li {
  display: flex;
  justify-content: space-evenly;

  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

.home {
  border-left: #fff 1px solid;
  padding-left: 20px;
  border-right: #fff 1px solid;
  width: 100px;
}

.portfolio,
.contact {
  border-right: #fff 1px solid;
  width: 100px;
}

@media all and (max-width: 800px) {
  .portfolio,
  .contact,
  .home {
    border-left: #fff 1px solid;
    padding-left: 20px;
    border-right: #fff 1px solid;
    width: 100px;
  }
}

header {
  grid-column: 1 / 5;
  grid-row: 2 / 3;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100vh;
  margin: 0px;

  z-index: -150;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: 50vh;

  margin-top: 100px;
  margin-left: 80px;
  width: 50%;
}

header > div > h2 {
  display: flex;
  font-size: 20px;
  color: #6f7185;
}

header > div > h3 {
  font-size: 60px;
  color: #fff;
  margin: 0px;
}

@media all and (max-width: 800px) {
  header {
    grid-column: 1 / 5;
    grid-row: 2 / 3;

    flex-wrap: wrap;
    flex-direction: column;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px;
}

@media all and (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.4fr;
  }
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 1fr;
  background-color: #6f7185;
}

@media all and (max-width: 800px) {
  .sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    flex-wrap: wrap;
    flex-direction: column;
    background-color: #8f91a2;
  }
}

.cathegory1 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 3fr;
  height: 100vh;
  gap: 0;
  background-color: #8f91a2;
}

@media all and (max-width: 800px) {
  .cathegory1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    flex-wrap: wrap;
    flex-direction: column;
  }
}

footer {
  grid-column: 1 / 5;
  grid-row: 4 / 5;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 0px;
  background-color: #6f7185;
}

@media all and (max-width: 800px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
